In [5]:
from scipy.interpolate import interp1d
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import datetime
from matplotlib import pyplot
import os
import glob

<ipython-input-5-3e6449a39eff>:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [6]:
# Input data  BPH+CLR

path_adress1 = ".\\template-Data Parameters Required for Brown planthopper\\"
path_adress2 = "\\BPH information from light trap\\"
path_adress3 = "\\Mirid bug information from light trap\\"
path_adress4 = "\\Information of weather\\"
path_adress5 = "\\Information of cultivated rice varieties\\"

path_adress7 = "\\station\\"
file_name_st = 'Data_lat_long_Rice research Center'

csv_file =path_adress1 + path_adress7 + file_name_st + '.csv'

df_st = pd.read_csv(csv_file)
print("All low RiceCenter {} " .format(df_st.shape[0]))
# print('dataset_station')
# df_st.head()

All low RiceCenter 34
dataset_station

            namethai                            nameEng  Latitude  Longitude
0     ศวข.ฉะเชิงเทรา  Chachoengsao Rice research Center    13.873    100.951
1         ศวข.ชัยนาท      Chai Nat Rice research Center    15.198    100.137
2  ศมข.ชัยนาทจุดที่1        Chai Nat Rice Seed Center 1    15.348     99.597
3  ศมข.ชัยนาทจุดที่2        Chai Nat Rice Seed Center 2    14.897    100.345
4      ศวข.เชียงใหม่    Chiang Mai Rice research Center    18.614     98.897

# creat station BPH + Mirid bug + Weather + Rice varieties DATA

In [23]:
date_start = '2015-01-01'
date_end = '2019-12-31'

for st in range(df_st.shape[0]):
# for st in range(1):    

    file_stN = str(df_st.iloc[st]['nameEng'])    
    
      
    csv_file_bph = path_adress1 + path_adress2 + file_stN + ' ' + 'BPH'  + '.csv'
#     print(csv_file_bph)
    csv_file_mb = path_adress1 + path_adress3 + file_stN + ' ' + 'Mirid bug'  + '.csv'
#     print(csv_file_mb)
    csv_file_w = path_adress1 + path_adress4 + file_stN + ' ' + 'Weather'  + '.csv'
#     print(csv_file_mb)
    csv_file_rvin = path_adress1 + path_adress5 + file_stN + ' ' + 'in-season' + '.csv'
#     print(csv_file_rvin)
    csv_file_rvoff = path_adress1 + path_adress5 + file_stN + ' ' + 'off-season' + '.csv'
#     print(csv_file_rvoff)
    
    df_bph = pd.read_csv(csv_file_bph,index_col='date')
    df_mb = pd.read_csv(csv_file_mb,index_col='date')
    
    df_w = pd.read_csv(csv_file_w)
    df_w['date'] = pd.to_datetime(df_w['date'], format='%m/%d/%Y') 
    df_w = df_w.set_index('date')
    
    df_rvin = pd.read_csv(csv_file_rvin,index_col='date',encoding="TIS-620")
    df_rvoff = pd.read_csv(csv_file_rvoff,index_col='date',encoding="TIS-620")


    df_bph = df_bph[(df_bph.index >= date_start)&(df_bph.index <= date_end)]    
    df_mb = df_mb[(df_mb.index >= date_start)&(df_mb.index <= date_end)] 
#     df_w = df_w[(df_w.index >= date_start)&(df_w.index <= date_end)]
#     df_rvin = df_rvin[(df_rvin.index >= date_start)&(df_rvin.index <= date_end)]
#     df_rvoff = df_rvoff[(df_rvoff.index >= date_start)&(df_rvoff.index <= date_end)]
    
    df_out = pd.DataFrame(df_bph)    
    df_out['mirid bug'] = df_mb.iloc[:,3].values.tolist()
    
    for col in range(len(list(df_w.columns))-3):
        df_out[list(df_w.columns)[col+3]] = df_w.iloc[:,col+3].values.tolist()
    for col in range(len(list(df_rvin.columns))-3):
        df_out[list(df_rvin.columns)[col+3]] = df_rvin.iloc[:,col+3].values.tolist()
    for col in range(len(list(df_rvoff.columns))-3):
        df_out[list(df_rvoff.columns)[col+3]] = df_rvoff.iloc[:,col+3].values.tolist()
        
    df_out.reset_index(inplace = True)  

    #Output : file name and Path Save file
    path_adress_out = ".\\Import_Dataset\\"
    file_name_save = file_stN
    dataset_path_save = path_adress_out + file_name_save + '.csv'
    df_out.to_csv(dataset_path_save, index=False, encoding="TIS-620")
    print("{} {}" .format(dataset_path_save,len(df_out)))
    del df_out,df_bph,df_mb,df_rvin,df_rvoff,df_w

.\Import_Dataset\Chachoengsao Rice research Center.csv 1826
.\Import_Dataset\Chai Nat Rice research Center.csv 1826
.\Import_Dataset\Chai Nat Rice Seed Center 1.csv 1826
.\Import_Dataset\Chai Nat Rice Seed Center 2.csv 1826
.\Import_Dataset\Chiang Mai Rice research Center.csv 1826
.\Import_Dataset\Chiangrai Rice research Center.csv 1826
.\Import_Dataset\Chum Phae Rice research Center.csv 1826
.\Import_Dataset\Khlong Luang Rice research Center.csv 1826
.\Import_Dataset\Khon Kaen Rice research Center.csv 1826
.\Import_Dataset\Krabi Rice research Center.csv 1826
.\Import_Dataset\Lopburi Rice research Center.csv 1826
.\Import_Dataset\Lopburi Rice Seed Center.csv 1826
.\Import_Dataset\Mae Hong Son Rice research Center.csv 1826
.\Import_Dataset\Nakhon Ratchasima Rice research Center.csv 1826
.\Import_Dataset\Nakhon Sawan Rice Seed Center.csv 1826
.\Import_Dataset\Nakhon Si Thammarat Rice research Center.csv 1826
.\Import_Dataset\Nong Khai Rice research Center.csv 1826
.\Import_Dataset\Pathum Thani Rice research Center.csv 1826
.\Import_Dataset\Pattani Rice research Center.csv 1826
.\Import_Dataset\Phatthalung Rice research Center.csv 1826
.\Import_Dataset\Phitsanulok Rice Seed Center.csv 1826
.\Import_Dataset\Phra Nakhon Si Ayutthaya Rice research Center.csv 1826
.\Import_Dataset\Phrae Rice research Center.csv 1826
.\Import_Dataset\Prachinburi Rice research Center.csv 1826
.\Import_Dataset\Ratchaburi Rice research Center.csv 1826
.\Import_Dataset\Ratchaburi Rice Seed Center 1.csv 1826
.\Import_Dataset\Ratchaburi Rice Seed Center 2.csv 1826
.\Import_Dataset\Roi Et Rice Seed Center.csv 1826
.\Import_Dataset\Sakon Nakhon Rice research Center.csv 1826
.\Import_Dataset\Samoeng Rice research Center.csv 1826
.\Import_Dataset\Sukhothai Rice Seed Center.csv 1826
.\Import_Dataset\Surin Rice research Center.csv 1826
.\Import_Dataset\Ubon Ratchathani Rice research Center.csv 1826
.\Import_Dataset\Udon Thani Rice research Center.csv 1826

In [16]:
df_rvin

,address,latitude,longitude,พันธุ์พื้นเมือง,กข-6,กข-15,ขาวดอกมะลิ-105,"สุพรรณบุรี-60,90",ราชการไวต่อแสง,ราชการไม่ไวต่อแสง,ชัยนาท-1,คลองหลวง-1,หอมสุพรรณบุรี,ปทุมธานี-1,สุพรรณบุรี-1
date,,,,,,,,,,,,,,,
2015-01-01,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2015-01-02,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2015-01-03,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2015-01-04,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2015-01-05,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2019-12-28,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2019-12-29,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2019-12-30,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0
2019-12-31,Chachoengsao Rice research Center,13.873,100.951,0,0,0,0,0,0,0,0,0,0,0,0